---
layout: default
title: Categories
---

<section class="posts" id="Blog">
    <div class="flex-row-between">
        <a href="{{ site.url }}/">« back</a>
      <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
      </button>
    </div>

    
    {% assign categories = "Python, TensorFlow, ETC, Scrapbook" | split: ', ' %}
    {% for category in categories %}
        {% assign post_count = 0 %}
        {% for post in site.posts %}
            {% if post.categories contains category %}
                {% assign post_count = post_count | plus: 1 %}
            {% endif %}
        {% endfor %}
        <h3>{{ category }} ({{ post_count }})</h3>
        <ul>
            {% for post in site.posts %}
                {% if post.categories contains category %}
                    <li>
                        - [{{ post.date | date: "%Y-%m-%d" }}] <a href="{{ site.url }}{{ post.url }}" title="{{ post.description }}">{{ post.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</section>