<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="just a minimalist">
  <meta name="naver-site-verification" content="565f41042384b9e0c6b69e3554fa6b58610b557c" />
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.title }}</title>

  <link rel="shortcut icon" href="/favicon.png">
  <!-- 사이트맵 커스텀 -->
  <link rel="sitemap" type="application/xml" title="sitemap" href="/sitemap.xml" />
  <!-- 기본 폰트 및 코드블록 지정 -->
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <script src="/assets/js/custom.js"></script>

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

</head>