---
layout: compress
---

<!DOCTYPE html>
<html lang="ko">
<head>
{% include head.html %}
</head>
<body>
  <main>
  <submain>
    <div id="specButton"> &rsaquo; Spec</div>
    <div id="specTooltip">
      CPU: {{ site.spec.cpu }}<br>
      RAM: {{ site.spec.ram }}<br>
      Storage: {{ site.spec.storage }}<br>
      OS: {{ site.spec.os }}<br>
      Python: {{ site.spec.python }}<br>
      Python_venv_path: {{ site.spec.python_venv_path }}<br>
      IDE: {{ site.spec.ide }}<br>
    </div>
    <section class="head">
      <a href="{{ site.url }}" id="action_menu_home"> &rsaquo; Home</a>
      <a href="{{ site.url }}/about/" id="action_menu_about"> &rsaquo; About</a>
      <a href="{{ site.url }}/archive/" id="action_menu_archive"> &rsaquo; Archive</a>
      <a href="{{ site.url }}/categories/" id="action_menu_categories"> &rsaquo; Categories</a>
      <a href="{{ site.url }}/guestbook/" id="action_menu_guestbook"> &rsaquo; Guestbook</a>
      <a href="{{ site.url }}/yt"> &rsaquo; Yt-Generator</a>
      <a href="{{ site.url }}/ffmpeg"> &rsaquo; FFmpeg-Generator</a>
      <a href="{{ site.url }}/thumbnail"> &rsaquo; Youtube Thumbnail</a>
    </section>
    <img id="topButton" src="/assets/img/topbutton.webp">
    
    <div>
      {% assign modified_content = content 
        | replace: '<table>', '<div class="table-container"><table>' 
        | replace: '</table>', '</table></div>' %}
      {{ modified_content }}
    </div>
  </submain>
</main>
</body>

<footer>
  <div class="social-footer">
    <p>
      <a href="{{site.url}}/" id="action_social_house" title="Home" target="_blank">
        <img src="{{site.url}}/assets/svg/house.svg" alt="Home" class="social-icon">
      </a> /
      <a href="https://github.com/{{ site.author.github }}" id="action_social_github" title="Github profile" target="_blank">
        <img src="{{site.url}}/assets/svg/github.svg" alt="Github" class="social-icon">
      </a> /
      <a href="https://instagram.com/{{ site.author.github }}" id="action_social_nstagram" title="Instagram" target="_blank">
        <img src="{{site.url}}/assets/svg/instagram.svg" alt="Instagram" class="social-icon">
      </a> /
      <a href="{{site.url}}/history" id="action_social_history" title="History">
        <img src="{{site.url}}/assets/svg/history.svg" alt="History" class="social-icon">
      </a> /
      <a href="{{site.url}}/sitemap.xml" id="action_social_sitemap" title="Sitemap">
        <img src="{{site.url}}/assets/svg/sitemap.svg" alt="Sitemap" class="social-icon">
      </a> /
      <a href="https://pagespeed.web.dev/analysis?url=https://pozuhtuhv.github.io/&utm_source=search_console&form_factor=mobile&hl=ko" id="action_social_pagespeed" title="Page Speed" target="_blank">
        <img src="{{site.url}}/assets/svg/speed.svg" alt="pagespeed" class="social-icon">
      </a> /
      <a href="#" id="action_social_vscode-link" title="Edit in VS Code" target="_blank" rel="noopener noreferrer">
        <img src="{{site.url}}/assets/svg/note-sticky.svg" alt="Edit in VS Code" class="social-icon">
      </a>
    </p>
  </div>
</footer>

{% if page.url == '/' %}
    <script defer src="{{ site.url }}/assets/js/simple-jekyll-search.js"></script>
    <script defer>
      window.addEventListener('DOMContentLoaded', function () {
        SimpleJekyllSearch({
          searchInput: document.getElementById('search-input'),
          resultsContainer: document.getElementById('search-results'),
          json: '{{ site.url }}/search.json',
          searchResultTemplate: '<li><a href="{url}" title="{description}">[{date}] {title}</a></li>',
          noResultsText: 'No results found..',
          limit: 10,
          fuzzy: true,
        });
      });
    </script>
{% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const vscodeLink = document.getElementById('action_social_vscode-link');
      let filePath = "";
    
      if (navigator.platform.indexOf('Mac') !== -1) {
        filePath = "vscode://file/{{ site.vscode_path_mac }}/{{ page.path }}";
      } else {
        filePath = "vscode://file/{{ site.vscode_path_win }}/{{ page.path }}";
      }
    
      vscodeLink.setAttribute('href', filePath);
    });
  </script>
</html>