---
layout: default
---

<section class="tags">
  <div class="flex-row-between">
	  <a href="{{ site.url }}/">« back</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>

  <div class="flex-row-between"></div>
  <h2>All tags:</h2>
</div>
  {% assign tags = site.tags | sort %}
  {% for tag in tags %}
  <ul>
    <li>
	    <a class="posts" href="{{ site.url }}/tag/{{ tag | first | slugify }}/">{{ tag[0] | replace:'-', ' '
        }} ({{ tag | last | size
        }}){% unless forloop.last %}, {% endunless %}
      </a>
    </li>
  </ul>
  {% endfor %}
</section>

<section class="posts">
  <div class="flex-row-between">
    <h1>Tag #{{page.tag}}</h1>
  </div>
  <ul>
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <li>- [{{ post.date | date: "%Y-%m-%d" }}] <a class="post" href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</section>